.bullet{
    position: absolute;
    width: 8px;
    left: 50%;
    height:22px;

    bottom: 100px;
    margin-right: 0;
    margin-left: 0;
    background-color: greenyellow;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}

/*#d35400*/