#gamePlaySection>h1{
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    font-family: Exquisite Corpse;
    font-size: 120px;
    color: #EA2027;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: max-content;

}

#divScoreBoard{
    right: 1vw;
    position: absolute;
    top: 1vh;
    height: max-content;
}

#scoreBoard{
    width: 15vw;
    height: 8vh;
    color: #e67e22;
    font-family: Exquisite Corpse;
    font-size: 30px;
    border: 2px solid grey;
    z-index: 2;
}

#lblScore{
    top: 1vh;
    position: relative;
    color: #44bd32;

}

#heartSection{
    right: 6vw;
    width: 10vw;
    top: 19vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    height: 6vh;
}

#heartSection>img{
    top: 19vh;
    width: 50px;
    height: 50px;
    right: 13vw;
}