body{
    overflow: hidden;
}


#homePageSection>img{
    width: 100vw;
    height: 100vh;
    position: absolute;
}


#homePageSection>h1{
    left: 30vw;
    position: absolute;
    font-family: Exquisite Corpse;
    top: 3vh;
    margin: 0;
    font-size: 88px;
    color: #EA2027;
    z-index: 1;
}


#btnGrp{
    position: absolute;
    top: 40vh;
    left: 12vw;
    width: 17vw;
}


#homePageSection>h2{
    font-size: 36px;
    color: #44bd32;
    font-family: 'DK Face Your Fears';
    position: absolute;
    top: 35vh;
    left: 15vh;

}

#btnRecruit{
    font-family: 'Blood Lust';
    top: 1vh;
    font-size: 26px;
    text-align: left;
    position: absolute;
    border: 0;
    opacity: 90%;

}

#btnRecruit:hover{
    border: 3px solid white;
}


#btnRegular{
    font-family: 'Blood Lust';
    font-size: 26px;
    position: absolute;
    top: 9.5vh;
    border: 0;
    text-align: left;
    opacity: 90%;
}

#btnRegular:hover{
    border: 3px solid white;
}

#btnVeteran{
    font-family: 'Blood Lust';
    font-size: 26px;
    position: absolute;
    top: 18vh;
    border: 0;
    text-align: left;
    opacity: 90%;
}

#btnVeteran:hover{
    border: 3px solid white;
}


#btnStart{
    width: 17vw;
    left: 41vw;
    position: absolute;
    bottom: 8vh;
    font-size: 26px;
    font-family: Exquisite Corpse;
    border: 0;
    border: 4px solid lightslategray;
}

#homePageSection>h3{
    position: absolute;
    top: 35vh;
    left: 74vw;
    color: #747d8c;
}

#homePageSection>p{
    position: absolute;
    font-size: 26px;
    color: #6a1a21;
    top: 40vh;
    right: 15vw;

}

#FSentence{
    position: absolute;
    bottom: 11.2vh;
    right: 19vw;
    font-size: 18px;
    color: orange;
}

#leftArrow{
    position: absolute;
    bottom: 11.2vh;
    right: 16vw;
    width: 30px;
    height: 30px;
}

#sSentence{
    position: absolute;
    bottom: 11.2vh;
    right: 13vw;
    font-size: 18px;
    color: orange;
}

#rightArrow{
    position: absolute;
    bottom: 11.2vh;
    right: 10vw;
    width: 30px;
    height: 30px;
}

#tSentence{
    position: absolute;
    bottom: 11.2vh;
    right: 2vw;
    font-size: 18px;
    color: orange;
}

#fiSentence{
    position: absolute;
    bottom: 5vh;
    right: 4vw;
    font-size: 18px;
    color: orange;
}

#spaceBar{
    position: absolute;
    bottom: 6vh;
    right: 12vw;
    width: 60px;
    height: 60px;
}

#foSentence{
    position: absolute;
    bottom: 5.1vh;
    right: 17vw;
    font-size: 18px;
    color: orange;
}

#gameControlSection{
    font-family: 'DK Face Your Fears';
    height: 18vh;
    width: 26vw;
    position: absolute;
    bottom: 2vh;
    right: 4vw;
}

#homePageSection>h3{
    position: absolute;
    font-size: 20px;
    color: #b62222;
    font-family: 'Rock 3D', cursive;
    width: max-content;
    height: max-content;
    top: 77vh;
    left: 43vw;
}

