/*------Rocket section----*/
#rocket{
    position: absolute;
    bottom: 1vh;
    left: 45vw;
    width: max-content;
    height: max-content;

}

#rocket>img{
    left: 30vw;
    width: 110px;
    height: 80px;

}






