body>div:nth-child(2){
    position: absolute;
    top: 0;
    left: 30vw;
    width: max-content;
    height: max-content;


    animation-name: zombie;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

body>div:nth-child(2)>img{
    left: 30vw;
    width: 80px;
    height: 115px;

}


@keyframes zombie {
    0%{
        top: 0;
    }

    100%{
        top: 85vh;
    }
}
