body>main>div:nth-child(2){
    position: absolute;
    left: 10vw;
    width: max-content;
    height: max-content;

}

body>main>div:nth-child(2)>img{
    left: 10vw;
    width: 80px;
    height: 115px;

}


/*--------Select all Zombies-------------*/
main>.zmb{
    position: absolute;
    width: max-content;
    height: max-content;

}

main>.zmb>img{
    width: 80px;
    height: 115px;
}

main>.newZmb{
    position: absolute;
    width: max-content;
    height: max-content;
    display: none;
}

main>.newZmb1{
    position: absolute;
    width: max-content;
    height: max-content;
    display: none;
}

main>.newZmb>img{
    width: 80px;
    height: 115px;
}


/*-----------------------------------*/


body>main>div:nth-child(3){
    left: 26vw;

}

body>main>div:nth-child(4){
    left: 50vw;
}

body>main>div:nth-child(5){
    left: 78vw;
}

body>main>div:nth-child(6){
    left: 60vw;
}

body>main>div:nth-child(7){
    left: 92vw;
}

body>main>div:nth-child(8){
    left: 5vw;
}

body>main>div:nth-child(9){
    left: 40vw;
}

body>main>div:nth-child(10){
    left: 0;
}

body>main>div:nth-child(11){
    left: 18vw;
}

body>main>div:nth-child(12){
    left: 70vw;
}

body>main>div:nth-child(13){
    left: 70vw;
}

body>main>div:nth-child(13)>img{
    width: 115px;
    height: 145px;
    left: 70vw;
}

body>main>div:nth-child(14){
    left: 20vw;
}

body>main>div:nth-child(14)>img{
    width: 80px;
    height: 115px;
    left: 20vw;
}

body>main>div:nth-child(15){
    left: 30vw;
}

body>main>div:nth-child(15)>img{
    width: 80px;
    height: 115px;
    left: 20vw;
}

body>main>div:nth-child(16){
    left: 56vw;
}

body>main>div:nth-child(16)>img{
    width: 80px;
    height: 115px;
}

body>main>div:nth-child(17){
    left: 85vw;
}

body>main>div:nth-child(17)>img{
    width: 115px;
    height: 145px;
}

body>main>div:nth-child(18){
    left: 40vw;
}

body>main>div:nth-child(18)>img{
    width: 115px;
    height: 145px;
}

body>main>div:nth-child(19){
    left: 10vw;
}

body>main>div:nth-child(19)>img{
    width: 115px;
    height: 145px;
}

body>main>div:nth-child(20){
    left: 45vw;
}

body>main>div:nth-child(20)>img{
    width: 80px;
    height: 115px;
}

body>main>div:nth-child(21){
    left: 65vw;
}

body>main>div:nth-child(21)>img{
    width: 115px;
    height: 145px;
}

body>main>div:nth-child(22){
    left: 5vw;
}

body>main>div:nth-child(22)>img{
    width: 115px;
    height: 145px;
}


body>main>div:nth-child(23){
    left: 1vw;
}

body>main>div:nth-child(23)>img{
    width: 115px;
    height: 145px;
}

body>main>div:nth-child(24){
   left: 93vw;
}

body>main>div:nth-child(24)>img{
    width: 115px;
    height: 145px;
}

body>main>div:nth-child(25){
    left: 35vw;
}


body>main>div:nth-child(25)>img{
    width: 115px;
    height: 145px;
}